* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**---------------- Footer -----------------*/
footer {
    background-color: #013fe9;
    padding: 10px;
    color: azure;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    gap: 8%;
}

.about, .quick-links, .contact {
    /* border: 1px solid red; */
    padding: 15px;
}

.about {
    width: 45%;
}

.footer-section hr {
    width: 100%;
    margin: 8px 0;
}

.bio {
    font-size: large;
    line-height: 1.2;
}

.slogan {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
}

.response {
    font-size: clamp(1rem, 1.5rem, 2rem);
    font-weight: bold;
    font-style: italic;
}

.frequency {
    border: 1px solid none;
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
    color: black;
}

span {
    font-size: 2rem;
}

.social-media {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.social-media img {
    width: 30px;
}

.quick-links {
    width: 20%;
}

.quick-links div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
    gap: 10px;
    /* border: 1px solid red; */
}

footer a {
    text-decoration: none;
    color: white;
}

.contact {
    width: 30%;
    margin-right: 55px;
}

.contact-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin: 10px 0 20px 0;
}

.description-icon {
    width: 16px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 10px;
}

.closing {
    margin: 10px 0;
}

.remarks {
    color: rgb(196, 193, 193);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.terms-policies {
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    margin-right: 80px;
}

.terms, .policies {
    cursor: pointer;
    color: aliceblue;
}

.copyright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


/*f------------ @media query -------------*/
/* @media  (max-width: 660px) {
} */

@media  (max-width: 450px) {
    .footer-section {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 10px;
    }

    .footer-section hr {
        width: 100%;
    }

    .about, .quick-links, .contact {
        width: 100%;
        font-size: clamp(0.7rem, 1vw, 1rem);
    }
    
    .about h1, .bio,
    .remarks {
        font-size: clamp(0.7rem, 1vw, 1rem);
    }

    .response {
        font-size: clamp(1rem, 1vw, 1rem);
        /* border: 1px solid red; */
    }

    .frequency {
        font-size: xx-small;
        border-radius: 8px;
        
    }
    .remarks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
    }

    .terms-policies {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        margin-right: 0;
        padding-bottom: 10px;
    }

    .terms, .policies {
        cursor: pointer;
        color: aliceblue;
    }

    .description-icon {
        width: 18px;
    }
    
    .social-media img {
        width: 24px;
    }
}
