* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------header-------------------*/

header {
   position: sticky;
   top: 0;
   z-index: 1000;
   padding: 14px 0;
   background-color: aliceblue;
   box-shadow: 0.2px 0.2px 8px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container a {
    color: black;
}

.logo-title h1 {
    margin: 0 15px;
    /* font-size: clamp(2rem, 1.vw, 2rem); */
}

.theme-switch {
    width: 15px;
    cursor: pointer;
}

.right-side {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
}

.navigation-menu {
    display: flex;
    justify-content: flex-start;
    /* align-items: flex-end; */
    /* border: 1px solid red; */
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-right: 40px;
    /* border: 1px solid rgb(168, 168, 168); */
    padding: 4px 6px;
    border-radius: 10px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: clamp(0.7rem, 1vw, 1rem);
}

.listen, .show, .new {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid none;
    background-color: rgb(223, 222, 222);
    border-radius: 10px;
    gap: 8px;
    padding: 5px 10px;
    cursor: pointer;
}

.listen:hover, .show:hover, .new:hover {
    background-color: rgb(170, 170, 170);
}

.menu-theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.theme-switch{
    width: 20px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(182, 181, 181);
}

.menu-icon {
    width: 30px;
    cursor: pointer;
    position: relative;
}

.popup-to-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid none;
    width: 240px;
    border-radius: 10px;
    padding: 8px;
    position: absolute;
    right: 18px;
    background-color: rgb(230, 227, 227);
}

.popup-to-menu a {
    text-decoration: none;
}

.host {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    /* border: 1px solid red; */
    padding: 10px;
    border-radius: 10px;
}

.host:hover {
    background-color: rgb(204, 202, 202);
    cursor: pointer;
}

/*--------display off, for only mobile view*/
.popup-to-menu div:nth-child(2),
.popup-to-menu div:nth-child(3),
.popup-to-menu div:nth-child(4) {
        display: none;
    }


/*---------------MEDIA QUERY--------------*/
@media (max-width: 450px){
    .header-container {
        display: flex;
        justify-content: space-between;
    }

    .logo-title h1 {
        font-size: large;
    }

    .nav-links {
        display: none;
    }
    
    .popup-to-menu {
        opacity: 0.9;
        width: 90%;
    }

    .popup-to-menu div:nth-child(2),
    .popup-to-menu div:nth-child(3),
    .popup-to-menu div:nth-child(4) {
        display: flex;
    }


}