* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 90%;
    margin: 20px auto;
}

.intro {
    border: 1px solid rgb(201, 199, 199);
    margin: 0 auto;
    width: fit-content;
    border-radius: 10px 15px;
    padding: 6px 10px;
    background-color: rgba(189, 187, 187, 0.219);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    gap: 10px;
}

.icon {
    width: 16px;
}

.intro p {
    color: rgb(7, 7, 7);
    font-size: small;
}

.the-team-box {
    width: 80%;
    margin: 20px auto;
    border: 1px solid red;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.hostsImage-and-programme {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.programme-host-img {
    width: fit-content;
    height: auto;
    /* border: 1px solid grey; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 5px;
}

.notice {
    border: 1px solid none;
    border-radius: 10px 15px;
    padding: 6px 8px;
    background-color: rgb(196, 195, 195);
    font-size: x-small;
    margin: 0 10px -10px 0;
    z-index: 100;
}

.programme-host {
    border: 1px solid grey;
    border-radius: 10px;
    width: 15vw;
    height: 20vh;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-end; */
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.host-info {
    position: relative;
    /* border: 1px solid grey; */
    background-color: aliceblue;
    border-radius: 10px 15px;
    padding: 4px 14px;
    bottom: 40px;
    right: 8px;
    font-size: small;
    opacity: 0.8;
}

.about-hosts-programme {
    border: 1px solid grey;
    border-radius: 10px 15px;
    padding: 10px 20px;
    width: 60vw;
    height: 20vh;
}